@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.header {
    background-color: #ffffff;
    color: #000000;
    margin-top: 70px;
}

.button {
    color: #f0eccf;
    background-color: #3b465a;
    font-family: 'Arvo', sans-serif;
}

.tagline {
    font-family: 'Dancing Script', sans-serif;
    color: #ff9525;
}
