@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.navbar {
    font-family: 'Dosis', sans-serif;
    background-color: white;
    text-align: center;
}

.navitem {
    font-size: larger;
    color: #000000;
}

.navitem:hover {
    font-size: x-large;
    color: #ff9525;
    text-decoration: none;
}

