@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300&display=swap');

.navbar {
    font-family: 'Grenze Gotisch', sans-serif;
    background-color: #394041;
}

.navbar-brand {
    font-size: xx-large;
    color: #eaeade;
}

.navitem {
    font-size: larger;
    color: #eaeade;
}

.navitem:hover {
    font-size: x-large;
    color: #eaeade;
    text-decoration: none;
}